body {
    background-color: #ffffff;
    font-family: 'CustomFont';
    color: black;
    width: 100%;
    font: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .container {
    display: flex;
    /* flex-direction: row; */
    margin: none;
  
  }
  
  .img {
    float: left;
    width: 50%;
    /* border: 10px solid black; */
    height: 100vh;
    border: 2px solid pink;
    
  }
  
  #img {
    width: 100%;
    height: 101vh;
    border-top-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
  }
  
  .UpEvent {
    font-size: 1.3rem;
    justify-content: center;
    margin: 10px;
    font-weight: bolder;
  }
  
  .Event {
    color: blueviolet;
    font-size: 1.4rem;
    font-weight: bolder;
  }
  
  .line{
    font-size: 2.2rem;
    margin-bottom: 30px;
    /* font-style: bolder; */
    font-weight: bold;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    height: 80vh;
    margin: 20px;
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    width: 35%;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    background: #F8F8FA;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  label {
    font-size: 1rem;
    margin: 10px;
    margin-bottom: 25px;
    /* letter-spacing: 1px; */
  }
  
  input {
    font-size: 0.8rem;
    margin: 10px;
    width: 100%;
    margin-left: 10px;
    border: none;
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 50px;
    margin: 40px none;
    height: 3.5vh;
    padding: 4px;
    /* border: 2px solid black; */
  }
  .inputs{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    /* margin-bottom: 10px; */
  }
  input::placeholder{
    font-size: 0.8rem;
  }
  
  .forgot {
    font-size: 1rem;
    margin: 10px auto;
    font-style: normal;
    opacity: 0.9;
  
  }
  
  button {
    font-size: 0rem;
    margin: 10px;
    background-color: #7848F4;
    color: white;
    padding: 2px;
    font-size: 1rem;
    border-radius: 3px;
    height: 5vh;
    /* width: 100%; */
    border: none;
    margin: 20px 10px;
  }
  /* button:hover{ */
    /* background-color: white;
    color: #7848F4;
    border: 1px solid black; */
  /* } */
  
  .btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Or{
    margin-left: 10px;
    opacity: 0.8;
  }
  #login{
    width: 100px;
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    padding-top: 8px ;
    padding-bottom: 8px;
  }

  #login:hover{
    background-color: #672ef8;
    /* color: ; */
    border: 1px solid black;
  }
  #signup{
    width: 180px;
    width: 140%;
    height: 100%;
    font-size: 1.3rem;
    /* font-weight: bold; */
    background-color: #FFFFFF;
    color: black;
    border: 1px solid rgb(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
  }
  #signup>img{
    width: 5%;
    /* margin: 10px; */
    margin-right: 5px;
  }
  #signup:hover{
    background-color: black;
    color: white;
    
  }
  
  @media screen and (max-width: 885px) {
    .container {
      display: flex;
      flex-direction: column;
      /* margin: 2px; */
      width: 100%;
      justify-content: center;
      align-items: center;
        /* border: 2px solid black; */
        margin: auto;
    }
  
    .img {
      width: 100%;
      margin: auto;
      display: none;
    }
    #img{
      border-radius: 10px;
      margin: auto;
      width: 100%;
    }
  
    .form {
  
      width: 80%;
  
    }
    button{
        margin: 10px 20px;
    }
    .btn{
        width: auto;
        margin: 10px;
        /* border: 2px solid black; */   
    }
    #signup{
        width: 110%;
    }
  }
  @media screen and (max-width: 600px) {
    .container {
      display: flex;
      flex-direction: column;
      /* margin: 2px; */
      width: 90%;
      justify-content: center;
      align-items: center;
        /* border: 2px solid black; */
        margin: auto;
    }
  
    .img {
      width: 100%;
      margin: auto;
      display: none;
    }
    #img{
      border-radius: 10px;
      margin: auto;
      width: 100%;
    }
  
    .form {
  
      width: 80%;
  
    }
    .btn{
        width: auto;
        margin: 10px;
        /* border: 2px solid black; */
    }
    #signup{
        width: 110%;
    }
  }
  
  @font-face {
    font-family: 'CustomFont';
    src: url('../assets/fonts/ProductSansRegular.ttf') format('woff2'),
         url('../assets/fonts/ProductSansBold.ttf') format('woff');
    /* Add additional font styles if needed, like font-weight, font-style, etc. */
  }
  